<%= form_tag '/movies', method: :post do %>
  <div>
    <input type="text" name="title" placeholder="Movie Title">
  </div>
 <div>
    <input type="text" name="runtime" placeholder="Runtime in Minutes">
  </div>
   <div>
    <select name="rating">
      <option hidden="">Rating</option>
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
  </div>

  <div>
    <input type="submit" value="Add Theaters/Showtimes">
  </div>
<% end %>
